{% extends "partial/base.html" %}


{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="container" style='text-align: center; margin-top: 20px;'>
<table class="table">
<form action = "" method = "get" >
    
    <select id="years" name="years", style="width:200px; margin-bottom: 
    20px;box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);line-height: 18px;
    border-radius: 10px; padding: 14px 15px;
    font-size: 28px;", onchange="displayDivDemo('hideValuesOnSelect', this)">
    <option value="all years"> all years</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
  </select>
  <input style="margin-left:20px; border-radius: 10px; padding: 14px 15px;
    font-size: 28px;" type="submit" value="Run">  
</form>
<p style='text-align: center; font-size: 38px;'><span> {{choosen_year}} </span> </p>
</div>

<p><span style='text-align: center'> Среднее кол-во слов за все время: {{all_times_avg.final}}</span></p>
<div class="container" style="position:relative;">


<div class='chartBox' style="position: relative">
  <canvas id="firstChart" width="300px" height="100" text-align="justify"></canvas>
  
  <canvas id="secondChart" width="300px" height="100"text-align="justify"></canvas>

</div>  
</div>
<script>

const myChart1 = new Chart(document.getElementById('firstChart').getContext('2d'), {
    type: 'bar',
    data: {
        labels: [{% for data in data %} '{{data.author}}', {% endfor %}],
        datasets: [{
            label: '# Кол-во написанных статей:',
            data: [{% for data in data %} '{{data.total}}', {% endfor %}],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const secondChart = new Chart(document.getElementById('secondChart').getContext('2d'), {
    type: 'bar',
    data: {
        labels: [{% for data in avg %} '{{data.date__year}}', {% endfor %}],
        datasets: [{
            label: '# Среднее кол-во слов в тексте по годам: ',
            data: [{% for data in avg %} '{{data.word_count__avg}}', {% endfor %}],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


<div class="container">
<table class="table">

<thead>
<tr>
  <th>Топ 10 популярных слов</th>
      </tr>
  </thead>
  
  <tbody>    
    {% for i in top_words %}
      <tr scope = "row">
        <th>{{i}}</th>
        
      </tr>
    {% endfor %}
  </tbody>
</table>  

{% endblock content %}